{% extends 'core/base.html' %}
{% block title %}Editare Cont{% endblock %}
{% block content %}

<div class="max-w-6xl mx-auto p-6">
    <h1 class="mb-5 text-3xl">Editare Cont</h1>

    <form method="post" action="." class="space-y-3">
        {% csrf_token %}
        <div>
            <label>Nume</label>
            <input name="first_name" value="{{ request.user.first_name }}" type="text" class="w-full mt-2 py-4 px-6 bg-gray-200 rounded-xl">
        </div>
        <div>
            <label>Prenume</label>
            <input name="last_name" value="{{ request.user.last_name }}" type="text" class="w-full mt-2 py-4 px-6 bg-gray-200 rounded-xl">
        </div>
        <div>
            <label>Nume utilizator</label>
            <input name="username" value="{{ request.user.username }}" type="text" class="w-full mt-2 py-4 px-6 bg-gray-200 rounded-xl">
        </div>
        <div>
            <label>E-mail</label>
            <input name="email" value="{{ request.user.email }}" type="email" class="w-full mt-2 py-4 px-6 bg-gray-200 rounded-xl">
        </div>
        <div>
            <button class="py-4 px-6 rounded-xl text-white bg-emerald-500">Editeaza</button>
        </div>
    </form>

</div>

{% endblock %}