{% extends 'core/base.html' %}
{% block content %}
{% load static %}

<header class="relative px-6 py-10 lg:py-20">
    <img src="{% static 'images/field.jpg' %}" alt="crops" class="w-full h-96 object-cover" />

    <div class="absolute top-0 left-0 right-0 bottom-0 bg-opacity-50 flex items-center justify-center">
        <div class="text-center">
            <p class="mb-2 text-3xl lg:text-5xl text-white">Welcome to Fresh Food</p>
            <p class="mb-10 text-white font-semibold">Noi vindem legume proaspete</p>
            <a href="#" class="inline-block px-8 py-4 rounded-xl bg-white text-emerald-500 hover:bg-gray-200">Comanda</a>
        </div>
    </div>
</header>

    <div class="max-w-6xl mx-auto py-2 px-6 xl:px-0">
        <div class="products flex items-center flex-wrap">

            {% for product in products %}
            
            {% include 'product/partials/product_items.html' %}

            {% endfor %}

        </div>
    </div>
{% endblock %}